.dialogs {
    display: flex;
    font-family:cursive;
}

.dialogsItem {
    padding: 20px;
}

.dialogsItem a.active {
    color: blue;
}
.dialogsItem a {
    text-decoration: none;
    color: black
}

.dialog {
    margin-bottom: 5px;
}
.dialogsItem :last-child{
    margin-bottom: 0px;
}

.messages {
    width: 200px;
    padding: 20px;
    margin-left: 50px;
}